//.bodyStyle {
//  background: #222426;
//  //margin-top: -22px !important;
//  position: relative;
//  //top: 70px;
//}



.styleG {
  background: #222426;
  margin-top: -22px !important;
  //overflow-x: hidden !important;
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5 !important;
  }

  &::-webkit-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    //height: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1976d2;
    //height: 20px;
  }
}

.scrollToTop{
  position: fixed;
  bottom: 40px;
  right: 50px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
  background: #0063e8;
  color: #fff;
  z-index: 400;
}

.scrollToTop:hover {
  background: darkblue;
}



// ################ ANIMATION SCROLL

$red:#F44336;

@mixin transform($in) {
  transform:$in;
  -webkit-transform:$in;
  -moz-transform:$in;
  -o-transform:$in;
  -ms-transform:$in;
}

@mixin animation($in) {
  animation:$in;
  -webkit-animation:$in;
  -moz-animation:$in;
  -o-animation:$in;
  //-ms-animation:$in;
}

.scrollToTop {
  color:#fff;

  &:hover {
    border-color:$red;
    color:$red;

    @include animation(shakeThatBooty 0.3s linear 1);
  }
}

@keyframes shakeThatBooty {
  33% {
    @include transform(rotateZ(15deg));
  }
  67% {
    @include transform(rotateZ(-15deg));
  }
  100% {
    @include transform(rotateZ(15deg));
  }
}
