<div class="toolbar" role="banner">
  <a  (click)="redirect()">
  <img  alt="logo" width="70" src="../../../assets/img/2cd43b_89641d234e1d4393944627dc2448b0df_mv2.png"
  />
  </a>
  <a *ngIf="userConnected" aria-label="Angular on twitter" rel="noopener"  class="fas fa-users fa-3x colI" [routerLink]="['/home/groups']" [routerLinkActive]="'is-active'"
     title="mes groupes">
<!--    <i ></i>-->
<!--    <span class="fa fa-comment"></span>-->
<!--    <span class="num">0</span>-->
  </a>

  <span class="policeHero"> Train Booking</span>
  <div class="spacer"></div>
  <a *ngIf="!userConnected" aria-label="Angular on twitter" target="_blank" rel="noopener" (click)="openInscription()"
     title="Twitter">
    <i class="fas fa-user-plus fa-3x colI"></i>
  </a>
  <a *ngIf="userConnected" aria-label="Angular on twitter" target="_blank" rel="noopener" (click)="deconnexion()"
     title="deconnexion">
    <i class="fas fa-window-close fa-3x colI"></i>
  </a>
</div>
