<!--<ng-template #tipContentA >-->
<!--  <h6>paul Koffi</h6>-->
<!--</ng-template>-->

<div class="num">
  <div class="courses-container">
    <div class="course">
      <div class="course-preview" style="">
        <h2>{{group.title}}</h2>
<!--        <h2>JavaScript Fundamentals</h2>-->
        <a href="#">Nombre de voyages [{{group.travelsNumber}}]</a>
<!--        <a href="#">Nombre de voyages [9]<i class="fas fa-chevron-right"></i></a>-->

      </div>
      <div class="course-info">
        <div class="progress-container">
          <div class="progress" #prog></div>
          <span class="progress-text">
					{{group.usersnames.length}}/10 amis
				</span>
        </div>
        <h6>{{group.groupName}}</h6>
        <h2>Membres</h2>
        <span *ngFor="let p of group.usersnames; let i = index" class="tooltipA">
         <span><img class="reduce" src= "{{group.pictures[i]}}"></span>
          <span class="tooltiptext">{{group.usersnames[i]}}</span>
        </span>
<!--        <span><img class="reduce" src="https://randomuser.me/api/portraits/women/9.jpg"></span>-->
<!--        <span><img class="reduce" src="https://randomuser.me/api/portraits/men/5.jpg"></span>-->
<!--        <span><img class="reduce" src="https://randomuser.me/api/portraits/men/4.jpg"></span>-->
<!--        <span><img class="reduce" src="https://randomuser.me/api/portraits/men/20.jpg"></span>-->

        <button class="btn">❌ Quitter</button>
      </div>
    </div>
  </div>
</div>
<br>
